.body {
   padding: 2.5rem;
   min-height: 60vh;
}

.card-container {
   margin: auto;
   margin-top: 2rem;

   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   gap: 1rem;
}

.filter-wrapper {
   display: flex;
   justify-content: center;
   gap: 1.5rem;
}

.not-found {
   margin: 0 auto;
}
