@import url("../../utils/colors.css");

.card {
   min-width: 15rem;
   width: 15rem;
   height: 25rem;
   cursor: pointer;
   border: 1px solid var(--secondary-color);
   border-radius: 0.5rem;
   padding: 1rem;
}

.card-img {
   width: 100%;
   height: 61%;
   object-fit: cover;
   border-radius: 0.5rem 0.5rem 0 0;
}

.card:hover {
   scale: 0.95;
}
